* {
  font-family: "Anton", sans-serif;
}
html {
  height: 100%;

}
h1 {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.gameboard {
  border: 2px solid black;
  width: 640px;
  height: 640px;
  background: green;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.input-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 20px;
  position: absolute;
}
button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 75px;
}
input {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
#river {
  display: flex;
  flex-direction: row;

}
#waterfall {
  margin-top: 100px;
  margin-left: 100px;
  display: none;
}
.water {

  height: 50px;
  width: 25px;
  background-color: blue;
}



.river {
  margin: 120px;
}

.word-wrap {
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 100px;
}

.water-block {
  display: flex;
}
#player {
  margin-top:200px;
  margin-left:0;
  width: 100px;
  height: 100px;
}

.img {
  margin:0;
}