html {
  height: 100%;
}
body {
  background-color: #76cb8f;
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  display: flex;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  font-family: "Love Ya Like A Sister", cursive;
}
.title {
  border-bottom: 2px solid black;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
}
.gameboard {
  border: 2px solid black;
  width: 640px;
  height: 640px;
  background: green;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-top: 20px;
  position: absolute;
}

input {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
input:focus {
  outline: none;
}
#guess-btn:focus {
  outline: none;
}

#guess-btn {
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: #76cb8f;
  margin-left: -5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}
#river {
  display: flex;
  flex-direction: row;
}
#waterfall {
  margin-top: 100px;
  margin-left: 100px;
  display: none;
}
.water {
  height: 50px;
  width: 25px;
  background-color: blue;
}

.river {
  margin: 120px;
}

.word-wrap {
  background-color: #eee;
}

.water-block {
  margin-top: 130px;
  display: flex;
}
#player {
  position: absolute;
  margin-top: 200px;
  margin-left: 0;
  width: 100px;
  height: 100px;
}

.img {
  margin: 0;
}

.word-wrap {
  margin: 40px;
  width: 200px;
  height: 500px;
  border: 2px black solid;
  padding: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}
.mystery-word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
i {
  padding: 5px;
}
#show-hint {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #76cb8f;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.hint {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
}

#hint {
  margin: 4px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  display: none;
}

#playBtn {
  display: flex;
  background-color: #76cb8f;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 90px;
  height: 80px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 4px;
}
#playBtn:hover {
  opacity: 1;
}
